body {
    background-color: #e8edf3;
    font-family: 'Walter Turncoat', cursive;
    overflow-x: hidden;
    height: 100%;
}

html {
    height: 100%;
}

#signup-username, #signup-password {
    display: block;
    font-family: 'Shadows Into Light', cursive;
    margin: 0 auto;
    width: 310px;
    height: 40px;
    margin-bottom: 15px;
    text-align: center;
}

#login-username, #login-password {
    display: block;
    font-family: 'Shadows Into Light', cursive;
    margin: 0 auto;
    width: 310px;
    height: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.middle-desc {
    text-align: center;
}

a {
    color: #c7a693;
}

a:hover {
    color: #EB7151;
}

.signup-form {
    margin: 0 auto;
    width: 700px;
}

.login-form {
    margin: 0 auto;
    width: 700px;
}

.signup-form > h2 {
    color: #173e43;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 30px;
}

.login-form > h2 {
    color: #173e43;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 30px;
}

#sign-me-up {
    color: #173e43;
    background-color: #3fb0ac;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    width: 115px;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3fb0ac;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
}

#log-me-in {
    color: #173e43;
    background-color: #3fb0ac;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    width: 115px;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3fb0ac;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
}

#sign-me-up:hover {
    color: #fae596;
}

#log-me-in:hover {
    color: #fae596;
}

.navbar-inverse {
    background-color: #9fa8a3;
    border: 1px solid #9fa8a3;
    margin-right: 10px;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
}

.navbar-inverse .navbar-brand {
    color: #173e43;
    font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #173e43;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fae596;
    background-color: initial;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fae596;
    background-color: initial;
}

#main-content h3 {
    color: #173e43;
    text-align: center;
    font-size: 60px;
    font-family: 'Shadows Into Light', cursive;
}

#newGame-btn {
    color: #173e43;
    background-color: #3fb0ac;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    width: 135px;
    padding: 6px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3fb0ac;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
}

.text-center {
    font-size: x-large;
    margin: 0 auto;
    width: 49%;
    line-height: 2.5;
}

.btn-default {
    margin-left: 20px;
}

.btn-success {
    background-color: #3fb0ac;
    border: 1px solid #3fb0ac;
}

.panel-primary {
    border: 1px solid #b0aac2;
}

.panel-primary > .panel-heading {
    background-color: #b0aac2;
    border: 1px solid #b0aac2;
}

#newGame-btn>a {
    color: #173e43;
    text-decoration: none;
}

#newGame-btn > a:hover {
    text-decoration: none;
    color: #fae596;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: initial;
}

.form-horizontal {
    text-align: center;
}

.btn-primary {
    color: #173e43;
    background-color: #3fb0ac;
    font-size: 25px;
    margin: 0 auto;
    width: 135px;
    padding: 6px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3fb0ac;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
}

.dropdown-menu {
    font-family: 'Walter Turncoat', cursive;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #173e43;
    background-color: #c7a693;
}

.btn-primary:hover {
    color: #fae596;
    background-color: #3fb0ac;
    font-size: 25px;
    margin: 0 auto;
    width: 135px;
    padding: 6px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3fb0ac;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fae596;
    background-color: #3fb0ac;
    border-color: #3fb0ac;
}

.btn-primary:focus, .btn-primary.focus, .open > .dropdown-toggle.btn-primary {
    color: #fae596;
    background-color: #3fb0ac;
    border-color: #3fb0ac;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fae596;
    background-color: #3fb0ac;
    border-color: #3fb0ac;
}

.img-about{
    height: 185px;
    width: 200px;
    border: 3px solid #fe606e;
    background-image: url("../imgs/default-profile-pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 12px #ae9d96;
    -moz-box-shadow: 2px 2px 12px #ae9d96;
    box-shadow: 2px 2px 12px #ae9d96;
    margin-right: 20px;
    margin: 0 auto;
}

/*.team {*/
/*overflow: auto;*/
/*}*/

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.popover-content {
    padding: 9px 14px;
    text-align: center;
}

/*.modal-footer {*/
    /*background-color: #c7a693;*/
    /*width: 100%;*/
    /*padding: 5px;*/
    /*position: fixed;*/
    /*bottom: 0;*/
/*}*/

.tool-outset {
    margin-right: 20px;
}

.logo {
    width: 50px;
}

.icons{
    height: 30px;
}