
//DONT FORGET TO DELETE

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>My Turn</th>
    </tr>
    </thead>
    <tbody>
    {{#each myTurnGames}}
    <tr class="success">
        <td>{{player}} vs. {{enemy}}</td>
        <td><a id="{{@index}}" class="btn btn-default" href="#/my-games/{{@index}}/{{player}}/vs/{{enemy}}">Go to game
            details</a></td>
    </tr>
    {{/each}}
    {{#each theirTurnGames}}
    <tr class="info">
        <td>{{player}} vs. {{enemy}}</td>
    </tr>
    {{each}}
    </tbody>
</table>


<h2 class="panel-heading">My Turn</h2>
{{#each myTurnGames}}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{player}} vs. {{enemy}}</h3>
    </div>
    <div class="panel-body">
        <span>You have {{#if points}}{{points}}{{else}}0{{/if}} points for this game</span>
        <a id="{{@index}}" class="btn btn-default" href="#/my-games/{{@index}}/{{player}}/vs/{{enemy}}">Go to game
            details</a>
    </div>
</div>
{{/each}}

<h2 class="">Their Turn</h2>
{{#each theirTurnGames}}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{player}} vs. {{enemy}}</h3>
    </div>
    <div class="panel-body">
        <span>You have {{#if points}}{{points}}{{else}}0{{/if}} points for this game</span>
        <a id="{{@index}}" class="btn btn-default" href="#/my-games/{{@index}}/{{player}}/vs/{{enemy}}">Go to game
            details</a>
    </div>
</div>
{{/each}}