<div>
    <h3>Welcome to RiddleDoodle !</h3>
    <p class="text-center" style="font-size: x-large">
        The classic draw and guess game. No drawing skills are required. Just draw stick figures and doodle masterpieces
        for your friends to guess!
        Then look what they have drawn for you. It is very simple, fun and challenging!
    </p>

    <p class="text-center">
        This game is developed by <a href="http://localhost:63342/Team-Mai-Tai/index.html#/about">Mai Tai Team</a>
        for <a href="http://academy.telerik.com/academy/about" target="_blank">Telerik Academy</a>'s JS Applications Course.
        It's <a href="https://github.com/JS-Applications-Team-Mai-Tai/Team-Mai-Tai" target="_blank">Open Source</a>
        project so make sure to check us on GitHub!
    </p>
</div>