<div id="user-profile-wrapper">
    <script id="user-profile-template" type="text/x-handlebars">
        <div class="thumbnail">
            <img
                    class='img-about'
                    src="http://40.media.tumblr.com/5e09ef33054a465d14203c578d863ded/tumblr_mlqgyl0N511r88lcmo1_1280.jpg"
                    alt="your photo">

            <div class="caption">
                <h3 id="username">{{#if username}}{{username}}{{else}}Pesho Peshov{{/if}}</h3>
                <div class="badge">{{#if coins}}{{coins}}{{else}}200{{/if}} <img src="https://cdn3.iconfinder.com/data/icons/jolly-icons-free/64/money_64.png" alt="coins" align="middle"> </div>

                <div class="badge">{{#if jems}}{{jems}}{{else}}3{{/if}} <img src="https://cdn3.iconfinder.com/data/icons/jolly-icons-free/64/diamond_64.png" alt="coins" align="middle"></div>
            </div>
        </div>
    </script>
</div>