//to delete

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home" style="padding: 0; margin-right: 15px"><img class="logo" src="imgs/paper-plane_64.png"></a>
            <a class="navbar-brand" href="#/home">HOME</a>
            <a class="navbar-brand" href="#/about">ABOUT</a>
            <a class="navbar-brand" href="#/my-games">MY GAMES</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li id="user-options" class="dropdown">

                    <a id="userName" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/my-profile">My Profile</a></li>
                        <li><a href="#/my-games">My Games</a></li>
                        <li class="divider"></li>
                        <li id="log-out"><a href="#/home">Log out</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li id="log-in"><a href="#/log-in">Log in</a></li>
                <li id="sign-up"><a href="#/sign-up">Sign up</a></li>

            </ul>
        </div>
    </div>
</nav>

///////////


<ul id="nav">
    <li>
        <a href="#">Home</a>
    </li>

    <li>
        <a href="#">About</a>
        <ul>
            <li><a href="#">The product</a></li>

            <li><a href="#">Meet the team</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Services</a>

        <ul>
            <li><a href="#">Sevice one</a></li>
            <li><a href="#">Sevice two</a></li>

            <li><a href="#">Sevice three</a></li>
            <li><a href="#">Sevice four</a></li>
        </ul>

    </li>
    <li>
        <a href="#">Product</a>
        <ul>
            <li><a href="#">Small product (one)</a></li>

            <li><a href="#">Small product (two)</a></li>
            <li><a href="#">Small product (three)</a></li>
            <li><a href="#">Small product (four)</a></li>

            <li><a href="#">Big product (five)</a></li>
            <li><a href="#">Big product (six)</a></li>
            <li><a href="#">Big product (seven)</a></li>

            <li><a href="#">Big product (eight)</a></li>
            <li><a href="#">Enormous product (nine)</a></li>
            <li><a href="#">Enormous product (ten)</a></li>

            <li><a href="#">Enormous product (eleven)</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Contact</a>

        <ul>
            <li><a href="#">Out-of-hours</a></li>
            <li><a href="#">Directions</a></li>

        </ul>
    </li>
</ul>



original tools

<div class="tools">
    <a class="tool-outset" data-toggle="collapse" href="#simple_sketch" data-size="3" data-tool="marker" alt="pen" alt="Pencil">
        <img class="canvas-tools" src="imgs/pen.png" align="middle">
    </a>

    <a class="tool-outset" href="#simple_sketch" data-tool="marker" alt="eraser" data-color="#fff" alt="Eraser">
        <img class="canvas-tools" src="imgs/eraser.png" align="middle">
    </a>
    <a class="tool-outset" href="#simple_sketch" data-tool="eraser" alt="Trash">
        <img class="canvas-tools" src="imgs/trash.png" align="middle">
    </a>
</div>